[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nonebot2 = "==2.0.0a13.post1"
python-dateutil = "~=2.8.1"
rich = "==10.1.0"
tinydb = "==4.4.0"
nonebot-adapter-cqhttp = "==2.0.0a13"
nonebot-plugin-apscheduler = "==0.1.2"
httpx = "~=0.17.1"
aiomysql = "==0.0.21"
fastapi = "~=0.63.0"
pydantic = "~=1.8.2"
emoji = "*"
qrcode = "*"
cacheout = "==0.13.1"
PyMySQL = "==0.9.3"
Pillow = "==8.3.2"
lxml = "==4.7.1"

[dev-packages]

[requires]
python_version = "3.8"
